.main-parent-container{
    height: 100%;
    display: flex;
    justify-content: center;
    // padding: 150px;
    background-image: url('../assets/buildings-2581875.jpg');
}

.btn-primary-class{
    padding-left: 20px;
    padding-right: 20px;
}